.node {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    display: inline-block;
    margin-bottom: -2px;
}

.node-start {
    background-color: green;
}

.node-finish {
    background-color: red;
}

.node-wall {
    background-color: grey;
}


.node-passage {
    background-color: none;
}

.node-path {
    animation-name: pathAnimation;
    background-color: yellow;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-passage:hover {
    transform: scale(1.2);
}

@keyframes pathAnimation {
    0% {
        transform: scale(0.3);
        background-color: grey;
        border-radius: 100%
    }
    50% {
        background-color: rgb(243, 245, 117);
    }
    75% {
        transform: scale(1.2);
        background-color: rgb(255, 252, 65);
    }
    100% {
        transform: scale(1);
        background-color: yellow;
    }
}
.node-solution {
    animation-name: solutionAnimation;
    background-color: lightblue;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes solutionAnimation {
    0% {
        transform: scale(0.3);
        background-color: grey;
        border-radius: 100%
    }
    50% {
        background-color: rgb(153, 223, 255);
    }
    75% {
        transform: scale(1.2);
        background-color: rgb(65, 249, 255);
    }
    100% {
        transform: scale(1);
        background-color: rgb(0, 217, 255);
    }
}